body{
    background: #0B0D21;
    color: #BABBC7;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    
}

h1{
    background: linear-gradient(180deg, rgba(255,232,155,1) 0%, rgba(208,160,0,1) 100%);
    color: #000;
    width: 100%;
    padding: 0.2em 0 0.2em 0;
    text-align: center;.

}

h2{
   background: -webkit-linear-gradient(#ffe89b, #d0a000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

p{
    font-size: 1em;
}

nav ul{
  list-style-type: none;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, rgba(255,232,155,1) 0%, rgba(208,160,0,1) 100%);
  border-radius: 0  0 26% 26%;
  overflow: hidden;
  position: fixed;
  top: 0;
}

nav li, a{
  display: inline-block;
  text-decoration: none;
  margin: 0 6px 0 6px;
  padding: 0.25em;
  color: #0B0D21;
  font-weight: bold;
  font-size: 1.3em;
  
}

/* .navLink :hover{
  background: #d0a000;
} */

.main{
  margin-top: 90px;
}

.navlink.li a:before, .navlink.li a:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;

}

.navlink.li a:before
{
    left: 0px;
    top: 0px;

}

.navlink.li a:after
{
    right: 0px;
    bottom: 0px;

}

.navlink.li a:hover:before, .navlink.li a:hover:after
{
    opacity: 1;
    width: 100%;

}


* {
    box-sizing: border-box;

  }

  .container {
    padding: 64px;

  }

  /* Clear floats */
.row:after {
    content: "";
    display: table;
    clear: 
    
  }

  /* 2/3 column */
.column-66 {
    float: left;
    width: 66.66666%;
    padding: 20px;

  }

  /* 1/3 column */
.column-33 {
    float: left;
    width: 33.33333%;
    padding: 20px;

  }

  /* Add responsiveness - make the columns appear on top of each other instead of next to each other on small screens */
@media screen and (max-width: 1000px) {
    .column-66,
    .column-33 {
      width: 100%;
      text-align: center;

    }
  }

  /* width
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  background: #000;
  border-color: aqua;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgba(255,232,155,1) 0%, rgba(208,160,0,1) 100%);
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #ffe89b;
} */

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #000;
}

::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
    
}

::-webkit-scrollbar-thumb
{
    background-color: #d0a000; 
    background-image: -webkit-linear-gradient(45deg,
                                              rgba(255, 255, 255, .2) 25%,
                                              transparent 25%,
                                              transparent 50%,
                                              rgba(255, 255, 255, .2) 50%,
                                              rgba(255, 255, 255, .2) 75%,
                                              transparent 75%,
                                              transparent)

                                              
}

